<table>
  <thead>
    <tr>
      <td>Languages:</td>
      <td>Rank</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input name="name" type="text" value="{{ actor.languages }}" />
      </td>
      <td>0%</td>
    </tr>
  </tbody>
</table>
