<table>
  <thead>
    <tr>
      <td>Spell Lists:</td>
      <td>Chance</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input name="name" type="text" value="{{ actor.spellList }}" />
      </td>
      <td>0%</td>
    </tr>
  </tbody>
</table>
